<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center mt-2">
        <h1>{{formTitle}}</h1>
    </div>
    <form action="/users{{idAndMethod}}", method="POST">
        <div class="container mt-5">
            <div class="form-group">
                <label for="firstname">Firstname :</label>
                <input class="form-control" id="firstname" name="firstname" type="text" value="{{#if user.firstname}}{{user.firstname}}{{/if}}"/>
            </div>
            <div class="form-group">
                <label for="lastname">Lastname :</label>
                <input class="form-control" id="lastname" name="lastname" type="text" value="{{#if user.lastname}}{{user.lastname}}{{/if}}"/>
            </div>
            <div class="form-group">
                <label for="username">Username :</label>
                <input class="form-control" id="username" name="username" type="text" value="{{#if user.username}}{{user.username}}{{/if}}"/>
            </div>
            <div class="form-group">
                <label for="email">Email :</label>
                <input class="form-control" id="email" name="email" type="email" value="{{#if user.email}}{{user.email}}{{/if}}"/>
            </div>
            <div class="form-group">
                <label for="password">Password :</label>
                <input class="form-control" id="password" name="password" type="password" value=""/>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password :</label>
                <input class="form-control" id="password2" name="password2" type="password" value=""/>
            </div>
             <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>
</html>