<!DOCTYPE html>
<html lang="fr">  
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/todos">
            Todolist
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/todos/add">Create a todo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/">Show user(s)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/add">Add a user</a>
            </li>
            </ul>
        </div>
        <span class="navbar-text">Made with love ❤️</span>
    </nav>

    <div class="container text-center mt-4">
        <h1>{{formTitle}}</h1>
    </div>
    <form action="/todos{{idAndMethod}}", method="POST">
        <div class="container mt-5">
            <div class="form-group">
                <label for="description">Description :</label>
                <input class="form-control" id="description" name="name" type="description" value="{{#if todo.name}}{{todo.name}}{{/if}}"/>
            </div>
            <div class="form-group">
                <label for="completion">Completion :</label>
                <select class="form-control" name="completion" id="completion">
                    <option value="Todo" {{#if completion.todo}}selected{{/if}}>Todo</option>
                    <option value="In Progress" {{#if completion.inProgress}}selected{{/if}}>In Progress</option>
                    <option value="Done" {{#if completion.done}}selected{{/if}}>Done</option>
                </select>
            </div>
            {{#if userList}}
            <div class="form-group">
                <label for="userid">UserID :</label>
                <select class="form-control" name="userId" id="userId">
                    {{{userList}}}
                </select>
            </div>
            {{/if}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>
</html>